body {
  /* background-color: blueviolet; */
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 50px 1fr 30px;
}
nav {
  display: flex;
}
header {
  display: flex;
  background-color: aquamarine;
  align-items: center;
  padding: 10px;
}
.icon {
  margin-left: auto;
}